graph {
    padding: 100px;
	fill-color: gray;
}
node {
    size: 10px;
    text-size: 25px;
    text-background-mode: rounded-box;
    text-background-color: #EB2;
    text-alignment: under;
    z-index: 1;
    fill-color: #999;
}
edge {
    arrow-shape: arrow;
    z-index: 0;
    fill-color: #333;
}